<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="hamburguesería">
    <title>Magic´s burger</title>
    <link rel="icon" type="image/jpg" href="https://i.postimg.cc/WzQmp01V/magic.jpg">
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js"></script>


    <style>
        body {

          background-image: url([[@{/img/pattern.jpg}]]);
          background-repeat: repeat;
          background-size: auto;

        }

        .fondo-oscurecido {
          background-color: rgba(0, 0, 0, 0.85);

        }
    </style>

</head>



<body>
<div class="fondo-oscurecido">
<section th:fragment="catalogo2" id="menu2" class="container py-5">
    <a href="/" class="btn btn-light position-absolute top-0 start-0 m-3">
        <i class="bi bi-arrow-left"></i> Inicio
    </a>
    <h2 class="text-center">Menú</h2>
    <h4 class="text-start">Carta de productos</h4>
    <div class="row text-center">
        <div th:each="producto : ${productos}" class="col-md-4 mb-4">
            <div class="card h-100">
                <img th:src="${producto.url}" class="card-img-top" th:alt="${producto.txtAlternativo}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${producto.nombre}"></h5>
                    <button class="btn btn-primary" data-bs-toggle="modal"
                            th:data-bs-target="'#modal-' + ${producto.id}">
                        Ver Detalles
                    </button>
                </div>
            </div>

            <!-- Modal para cada producto -->
            <div class="modal fade" th:id="'modal-' + ${producto.id}" tabindex="-1"
                 th:aria-labelledby="'modal-label-' + ${producto.id}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:id="'modal-label-' + ${producto.id}"
                                th:text="${producto.nombre}"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img th:src="${producto.url}" class="img-fluid rounded mb-3"
                                         th:alt="${producto.txtAlternativo}">
                                </div>
                                <div class="col-md-6 text-start">
                                    <p class="h5"
                                       th:text="'Precio: ' + ${#numbers.formatDecimal(producto.precio, 1, 2)} + '€'"></p>
                                    <p class="text-muted"

                                       th:text="'Fecha de creación: ' + ${#temporals.format(producto.fecha, 'dd/MM/yyyy')}"></p>
                                   <p th:text="'Tipo: ' + ${producto.tipoProducto}"></p>
                                    <p th:class="${producto.popularidad > 7 ? 'text-success' : 'text-warning'}"
                                       th:text="'Popularidad: ' + ${producto.popularidad} + '/10'"></p>
                                    <hr>
                                    <h6>Descripción:</h6>
                                    <p th:text="${producto.descripcion}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{footer :: pie}" class=" text-white py-5">

  </footer>
</div>
</body>
</html>