<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Magic´s burger</title>
  <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js"></script>


  <style>
    body {
      
      background-image: url([[@{/img/pattern.jpg}]]);
      background-repeat: repeat;
      background-size: auto;

    }

    .fondo-oscurecido {
      background-color: rgba(0, 0, 0, 0.85);
    }
  </style>

</head>


<body class=" text-white p-0 m-0">

<div class="fondo-oscurecido">
  <!-- Navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border border-0">
    <div class="container-fluid">

      <a  class="navbar-brand" href="#home">
        <img src="https://i.postimg.cc/WzQmp01V/magic.jpg"  width="60px" height="60px" alt="Magic burguers" class="rounded-circle">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="#home"><i class="bi bi-house-door"></i>
              Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" th:href="@{#menu}"><img th:src="@{/svg/one-hamburguer-svgrepo-com(1).svg}"
                                                             alt="Descripción del SVG" class="pb-1" width="16px"> Mejor valoraciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/menu2}"><img th:src="@{/svg/one-hamburguer-svgrepo-com(1).svg}"
                                                                   alt="Descripción del SVG" class="pb-1" width="16px"> Menú Completo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#galeria"><i class="bi bi-image"></i> Galería</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#contacto"><i class="bi bi-telephone-inbound"></i> Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#login" data-bs-toggle="modal" data-bs-target="#loginModal"><i
                    class="bi bi-box-arrow-in-right"></i> Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/admin}"><i class="bi bi-box-arrow-in-right"></i> Administrador</a>
          </li>
        </ul>
        <form class="d-flex me-3" th:action="@{/buscar}" method="get">
          <input class="form-control me-2"
                 type="search"
                 name="nombre"
                 th:value="${terminoBusqueda}"
                 placeholder="Buscar productos..."
                 aria-label="Search">
          <button class="btn btn-outline-light" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>

  </nav>


  <!-- Portada -->
  <section id="home" class="d-flex justify-content-center align-items-center">
    <div class="text-center ">



      <!-- Sección de Noticias en portada -->
      <div class="container mt-5 p-4 rounded">
        <h2>Novedades</h2>
        <div class="row d-flex justify-content-between">
          <div th:each="producto : ${productosNovedades}" class="card text-white h-auto col-md-5">
            <div class="card-body h-100 d-flex flex-column justify-content-between m-0 p-0 py-3">
              <h5 class="card-title" th:text="${producto.nombre}"></h5>
              <p class="card-text justify-self-top" th:text="${producto.descripcion}"></p>
              <img th:src="${producto.url}" class="img-fluid rounded" th:alt="${producto.nombre}">
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- Sección Sobre Nosotros -->
  <section id="sobre-nosotros" class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Sobre Magic's Burger</h2>
        <p>
          Fundada en 2015, Magic's Burger nació de la pasión por crear hamburguesas únicas con ingredientes de la más
          alta calidad. Nuestro chef, con más de 15 años de experiencia, ha creado recetas que deleitan a nuestros
          clientes día tras día, combinando técnicas tradicionales con toques innovadores. Cada hamburguesa es una
          obra maestra de sabores, diseñada para sorprender incluso a los paladares más exigentes.
        </p>
        <p>
          Utilizamos carne 100% de ternera gallega, seleccionada por su jugosidad y textura, pan artesano horneado
          diariamente en nuestro obrador propio, y productos locales frescos para garantizar el mejor sabor en cada
          bocado. Además, nuestras salsas caseras, desde la clásica *Dulce Iniesta* hasta opciones picantes o
          trufadas,
          son el complemento perfecto para una experiencia gastronómica inolvidable.
        </p>
        <p>
          En Magic's Burger, no solo nos preocupamos por el sabor, sino también por la sostenibilidad. Trabajamos con
          proveedores comprometidos con el comercio justo y reducimos nuestro impacto ambiental mediante envases
          reciclables y políticas de cero desperdicio. Creemos que una buena hamburguesa puede ser deliciosa, ética y
          respetuosa con el planeta.
        </p>
        <p>Nuestro local, diseñado con un ambiente acogedor y moderno, es el lugar ideal para disfrutar en familia,
          con amigos o incluso en una comida rápida sin renunciar a la calidad. ¡Te invitamos a descubrir por qué
          Magic's Burger es mucho más que una hamburguesería: es una experiencia mágica!
        </p>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-6 mb-3" th:each="producto : ${sobreNosostros}">
            <img th:src="@{${producto.url}}" class="img-fluid rounded" th:alt="${producto.nombre}">

          </div>
        </div>
      </div>

    </div>
  </section>



  <!-- Galería con Carrusel -->
  <section id="galeria" class="container py-5">
    <h2 class="text-center mb-4">Galería</h2>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div th:each="producto, iterStat : ${productosGaleria}"
             th:classappend="${iterStat.index == 0} ? 'active' : ''"
             class="carousel-item">
          <div class="d-flex justify-content-center">
            <img th:src="${producto.url}" class="d-block img-fluid rounded-2 w-40 w-md-40" th:alt="${producto.nombre}">
          </div>
          <div class="carousel-caption d-none d-sm-block bg-black bg-opacity-50 rounded py-2 w-50 my-0 mx-auto">
            <h5 class="mb-1" th:text="${producto.nombre}"></h5>
            <p class="mb-0" th:text="${producto.descripcion}"></p>
          </div>
        </div>
      </div>
      <!-- Botones para navegar -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark bg-transparent p-3" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark bg-transparent p-3" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>



  <!-- Catálogo con tarjetas -->
  <section th:replace="~{menu :: catalogo}"></section>






  <!-- Formulario de Inicio de Sesión -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="#" action="#">
            <div class="mb-3">
              <label for="username" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            <button class=" btn btn-primary " type="button" data-bs-toggle="modal" data-bs-target="#myModal">
              Crear cuenta
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content bg-light">

        <div class="modal-header">
          <h4 class="modal-title">Creación de cuenta</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <form action="#" method="#" class="mt-0">

            <div class="container-fluid">

              <div class="row">
                <div class="mb-1 col-12 col-md-5">
                  <label for="name" class="form-label">Nombre:</label>
                  <input type="text" class="form-control p-2" required id="name" name="name">
                </div>

                <div class="mb-1 col-12 col-md-7">
                  <label for="surname" class="form-label">Apellidos:</label>
                  <input type="text" class="form-control p-2" id="surname" required name="surname">
                </div>
              </div>

              <div class="row">
                <div class="mb-1 col-12 col-md-8">
                  <label for="home" class="form-label">Domicilio:</label>
                  <input type="text" class="form-control p-2" id="home" required placeholder="Nº XXX C/ XXX"
                         name="home">
                </div>

                <div class="mb-1 col-12 col-md-4">
                  <label for="city" class="form-label">Localidad:</label>
                  <input type="text" class="form-control p-2" id="city" name="city">
                </div>
              </div>

              <div class="row">
                <div class="mb-1 col-12">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" class="form-control p-2" required id="email" placeholder="correo@email.com"
                         name="email">
                </div>
              </div>

              <div class="row">
                <div class="mb-1 col-12 col-md-6">
                  <label for="pwd" class="form-label">Contraseña:</label>
                  <input type="password" class="form-control p-2" id="pwd" required placeholder="************"
                         name="pswd">
                </div>

                <div class="mb-1 col-12 col-md-6">
                  <label for="pwd2" class="form-label">Repetir contraseña:</label>
                  <input type="password" class="form-control p-2" id="pwd2" required placeholder="************"
                         name="pswd2">
                </div>
              </div>

              <div class="row">
                <label class="form-label">Sexo:</label>

                <div class="form-check mb-1 col-12 col-md-3">
                  <label class="form-check-label" for="hombre">
                    <input class="form-check-input" id="hombre" type="radio" name="sex" value="H">
                    Hombre
                  </label>
                </div>

                <div class="form-check mb-1 col-12 col-md-3">
                  <label class="form-check-label" for="mujer">
                    <input class="form-check-input" type="radio" id="mujer" name="sex" value="M">
                    Mujer
                  </label>
                </div>

                <div class="form-check mb-1 col-12 col-md-5">
                  <label class="form-check-label" for="noindicado">
                    <input class="form-check-input" type="radio" id="noindicado" name="sex" value="N"> No especificado
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="my-1">
                  <label for="comment">Observaciones:</label>
                  <textarea class="form-control" rows="2" id="comment" name="text"
                            placeholder="Escriba aquí..."></textarea>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <button type="reset" class=" btn btn-primary ">Limpiar
                    formulario</button>
                </div>

                <div class="col-6">
                  <button type=" submit" class=" btn btn-primary " data-bs-dismiss="modal">Crear cuenta</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <section id="contacto" class="container py-5">
    <h2 class="text-center">Contáctanos</h2>
    <form method="#" action="#">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email" required>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Mensaje</label>
        <textarea class="form-control" id="message" rows="4" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </section>



  <footer th:replace="~{footer :: pie}" class=" text-white py-5">

  </footer>



</div>





</body>

</html>